<div class="column is-3">
    <aside class="menu">
        <p class="menu-label">
            Administração
        </p>
        <ul class="menu-list">
            <li><a asp-controller="Amigos" asp-action="Index">Amigos</a></li>
            <li><a asp-controller="Jogos" asp-action="Index">Jogos</a></li>
            <li><a asp-controller="AmigosJogos" asp-action="Index">Amigos x Jogos</a></li>
        </ul>
    </aside>
</div>
@RenderBody()