@model EmprestimoJogos.Models.Amigo

@{
    ViewData["Title"] = "Editar Amigo";
}

<div class="container">
    <div class="columns">
        <div class="column is-3">
            <aside class="menu">
                <p class="menu-label">
                    Administração
                </p>
                <ul class="menu-list">
                    <li><a asp-controller="Home" asp-action="Index">Totais</a></li>
                    <li><a class="is-active" asp-controller="Amigos" asp-action="Index">Amigos</a></li>
                    <li><a asp-controller="Jogos" asp-action="Index">Jogos</a></li>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <h3 class="title">Editar Amigo</h3>
            <form asp-action="Editar">
                <input type="hidden" asp-for="AmigoID" />
                <div class="column">
                    <label>Nome</label>
                    <input type="text" asp-for="Nome" class="input is-info is-medium" placeholder="Nome">
                </div>
                <div class="column">
                    <input type="submit" value="Editar" class="button is-medium is-info" />
                </div>
            </form>
        </div>
    </div>
</div>